# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules
template

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
first_nuxt/
.env
.env.*
!.env.example
